* {
  box-sizing: border-box;
}

a,
body,
h1,
ul,
h2,
div,
nav,
header,
img {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

nav a.active::after {
  content: '';
  width: 100%;
  height: 3px;
  background: #222;
  display: block;
  margin-top: 5px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 280px;
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

form {
  display: flex;
}

.filme {
  position: relative;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s;
}

.filme:hover .capa {
  display: block;
}

.filme:hover .info {
  display: block;
}

.capa {
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.capaHome {
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.filme:hover {
  transform: scale(1.075, 1.075);
}

.filmesHome {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 400px;
  padding: 10px 10px 10px 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.filmeHome {
  z-index: 10;
  height: 300px;
  position: relative;
  min-width: 200px;
  transition: transform 0.3s;
  cursor: pointer;
  margin-right: 10px;
}

.filmeHome img {
  height: 300px;
}

.filmeHome:hover {
  transform: scale(1.075, 1.075);
}

.filmeHome:hover .capaHome {
  display: block;
}

.filmeHome:hover .infoHome {
  display: block;
}

.filmes {
  display: flex;
  flex-wrap: wrap;
}

.animaLeft {
  animation: animaLeft 0.4s;
}

.slide {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide li {
  flex-shrink: 0;
}

.movieMain {
  overflow: hidden;
  position: relative;
}

.movieBanner {
  cursor: pointer;
  min-width: 100vw;
  height: 75vh;
  display: flex;
  align-items: flex-start;
  touch-action: none;
}

.movieBanner img {
  min-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.prev {
  transition: transform 1s ease-in-out;
  z-index: 1000;
  padding: 10px 20px;
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
}

.next {
  transition: transform 1s ease-in;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
}

.info {
  display: none;
  position: absolute;
  z-index: 10;
  left: 45%;
  top: 45%;
}

.infoHome {
  display: none;
  position: absolute;
  z-index: 10;
  top: 40%;
  right: 40%;
}

.movieHomeMT {
  margin-top: 10px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 60rem) {
  .movieBanner {
    height: 50vh;
  }
}

@keyframes animaLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
