* {
  box-sizing: border-box;
}

a,
body,
h1,
ul,
h2,
div,
nav,
header,
img {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 280px;
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

form {
  display: flex;
}

.filme {
  cursor: pointer;
  transition: transform 0.3s;
}

.filme:hover {
  transform: scale(1.075, 1.075);
}

.filmesHome {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 400px;
  padding: 10px 10px 10px 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.filmeHome {
  min-width: 200px;
  transition: transform 0.3s;
  cursor: pointer;
  margin-right: 10px;
}

.filmeHome img {
  height: 300px;
}

.filmeHome:hover {
  transform: scale(1.075, 1.075);
}

.filmes {
  display: flex;
  flex-wrap: wrap;
}

.animaLeft {
  animation: animaLeft 0.4s;
}

.slide {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide li {
  flex-shrink: 0;
}

.movieMain {
  overflow: hidden;
}

.movieBanner {
  cursor: pointer;
  min-width: 100vw;
  height: 65vh;
  display: flex;
  align-items: flex-start;
  touch-action: none;
}

.movieBanner img {
  min-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.prev {
  transition: transform 1s ease-in-out;
  z-index: 1000;
  padding: 10px 20px;
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
}

.next {
  transition: transform 1s ease-in;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
}

@media (max-width: 60rem) {
  .movieBanner {
    height: auto;
  }
}

@keyframes animaLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
